Importamos las bibliotecas pertinentes

In [21]:
import pandas as pd
from openpyxl import load_workbook

Importamos la Base de Datos

In [5]:
archivo_excel = 'Proyecto #1.xlsx'

Creamos un DataFrame de cada hoja de excel que vamos a utilizar

In [6]:
df = pd.read_excel(archivo_excel, sheet_name='Costos_Inventario')
df_2 = pd.read_excel(archivo_excel, sheet_name='Base de Datos Negocio')
df_3 = pd.read_excel(archivo_excel, sheet_name='Base de Datos Competencia')

In [7]:
df

,Referencia,Nombre,Costo Promedio,Costo Operativo,Costo de Producto,Utilidad 25%,Inventario Actual,Inventario Mínimo,Unnamed: 8,Unnamed: 9
0,123,Solenoide,400,20.00,420.00,525.0000,10000,2250,NaN,Costo Operativo
1,456,Motoventilador,1900,95.00,1995.00,2493.7500,15000,2250,NaN,0.05
2,789,Marcha,1100,55.00,1155.00,1443.7500,8000,2250,NaN,NaN
3,321,Bujías,150,7.50,157.50,196.8750,30000,2250,NaN,Modificable
4,654,Válvulas,170,8.50,178.50,223.1250,25000,2250,NaN,NaN
5,987,Alternadores,2500,125.00,2625.00,3281.2500,25,2250,NaN,Utilidad Deseada
6,741,Bobina Encendido,155,7.75,162.75,203.4375,4700,2250,NaN,0.25
7,852,Faros,190,9.50,199.50,249.3750,15000,2250,NaN,NaN
8,963,Poleas,250,12.50,262.50,328.1250,999,2250,NaN,Modificable
9,357,Motor de arranque,199,9.95,208.95,261.1875,5379,2250,NaN,NaN
10,159,Bulbo sensor,40,2.00,42.00,52.5000,4561,2250,NaN,NaN
11,486,Manguera corrugada,15,0.75,15.75,19.6875,3743,2250,NaN,NaN
12,624,Cable pasa corriente,123,6.15,129.15,161.4375,2925,2250,NaN,NaN
13,684,Carburador,1300,65.00,1365.00,1706.2500,2100,2250,NaN,NaN
14,426,Bomba gasolina,800,40.00,840.00,1050.0000,12000,2250,NaN,NaN
15,597,Bujes,300,15.00,315.00,393.7500,4700,2250,NaN,NaN
16,600,Baleros,300,15.00,315.00,393.7500,8000,2250,NaN,NaN
17,951,Torre alternador,360,18.00,378.00,472.5000,500,2250,NaN,NaN
18,753,Volante Motor,308,15.40,323.40,404.2500,33,2250,NaN,NaN

In [8]:
df_2

,Referencia,Nombre,Vendedor,Nuestro Precio,Vendidos día 1 Online,Vendidos día 1 Sucursal,Vendidos día 2 Online,Vendidos día 2 Sucursal
0,123,Solenoide,Delatsa,525.0000,721,1452,500.000000,1000.000000
1,456,Motoventilador,Delatsa,2493.7500,597,907,400.000000,170.000000
2,789,Marcha,Delatsa,1443.7500,937,1446,340.000000,900.000000
3,321,Bujías,Delatsa,196.8750,817,944,600.000000,150.000000
4,654,Válvulas,Delatsa,223.1250,619,981,70.000000,450.000000
5,987,Alternadores,Delatsa,3281.2500,614,1366,10000.000000,500.000000
6,741,Bobina Encendido,Delatsa,203.4375,511,1135,50.000000,2500.000000
7,852,Faros,Delatsa,249.3750,752,1246,100.000000,100.000000
8,963,Poleas,Delatsa,328.1250,674,1149,3400.000000,2300.000000
9,357,Motor de arranque,Delatsa,261.1875,888,975,3344.444444,1608.333333
10,159,Bulbo sensor,Delatsa,52.5000,987,1322,200.000000,1750.666667
11,486,Manguera corrugada,Delatsa,19.6875,572,1288,3995.111111,1893.000000
12,624,Cable pasa corriente,Delatsa,161.4375,807,930,4320.444444,2035.333333
13,684,Carburador,Delatsa,1706.2500,919,1366,4645.777778,2177.666667
14,426,Bomba gasolina,Delatsa,1050.0000,631,1491,4971.111111,2320.000000
15,597,Bujes,Delatsa,393.7500,517,986,2000.000000,2462.333333
16,600,Baleros,Delatsa,393.7500,667,1343,5621.777778,2604.666667
17,951,Torre alternador,Delatsa,472.5000,705,1187,5947.111111,2747.000000
18,753,Volante Motor,Delatsa,404.2500,10,10,6272.444444,2889.333333

In [9]:
df_3

    Referencia                Nombre Vendedor  Precio día 1  Precio día 2
0          123             Solenoide   Sirilo           560           560
1          456        Motoventilador   Amarea          1881          1882
2          789                Marcha     Kana          1296          1500
3          321                Bujías    Donna           313           400
4          654              Válvulas   Sirilo           150           200
5          987          Alternadores   Amarea          1950          2000
6          741      Bobina Encendido     Kana           700           700
7          852                 Faros    Donna           600           600
8          963                Poleas   Sirilo           525           525
9          357     Motor de arranque   Amarea          3080          3500
10         159          Bulbo sensor     Kana            38            50
11         486    Manguera corrugada    Donna            39            39
12         624  Cable pasa corriente   Sirilo           150           200
13         684            Carburador   Amarea          2000          2000
14         426        Bomba gasolina     Kana          2000          2000
15         597                 Bujes    Donna           307           500
16         600               Baleros   Sirilo           469           469
17         951      Torre alternador   Amarea            80           350
18         753         Volante Motor     Kana           380           380

In [10]:
df.columns

Index(['Referencia', 'Nombre', 'Costo Promedio', 'Costo Operativo',
       'Costo de Producto', 'Utilidad 25%', 'Inventario Actual',
       'Inventario Mínimo', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

Comenzamos con los primeros parametros:

Nuestro precio es mayor o menor que la competencia?

In [11]:
# Unir los DataFrames basados en la columna 'Referencia'
df_comparativo = pd.merge(df_2[['Referencia', 'Nombre', 'Nuestro Precio']], 
                          df_3[['Referencia', 'Precio día 2']], 
                          on='Referencia')

# Añadir una columna de comparación
df_comparativo['Comparativa'] = df_comparativo['Nuestro Precio'] - df_comparativo['Precio día 2']

# Definir si el precio es mayor o menor
df_comparativo['Resultado'] = df_comparativo['Comparativa'].apply(lambda x: 'Mayor' if x > 0 else 'Menor')

# Mostrar el resultado
print(df_comparativo[['Referencia', 'Nombre', 'Nuestro Precio', 'Precio día 2', 'Resultado']])

    Referencia                Nombre  Nuestro Precio  Precio día 2 Resultado
0          123             Solenoide        525.0000           560     Menor
1          456        Motoventilador       2493.7500          1882     Mayor
2          789                Marcha       1443.7500          1500     Menor
3          321                Bujías        196.8750           400     Menor
4          654              Válvulas        223.1250           200     Mayor
5          987          Alternadores       3281.2500          2000     Mayor
6          741      Bobina Encendido        203.4375           700     Menor
7          852                 Faros        249.3750           600     Menor
8          963                Poleas        328.1250           525     Menor
9          357     Motor de arranque        261.1875          3500     Menor
10         159          Bulbo sensor         52.5000            50     Mayor
11         486    Manguera corrugada         19.6875            39     Menor
12         624  Cable pasa corriente        161.4375           200     Menor
13         684            Carburador       1706.2500          2000     Menor
14         426        Bomba gasolina       1050.0000          2000     Menor
15         597                 Bujes        393.7500           500     Menor
16         600               Baleros        393.7500           469     Menor
17         951      Torre alternador        472.5000           350     Mayor
18         753         Volante Motor        404.2500           380     Mayor

El precio de la competencia cambió de un día para otro?

In [12]:
# Filtrar las columnas necesarias de 'Referencia', 'Nombre', 'Ventas Enero', y 'Ventas Febrero'
df_precios = df_3[['Referencia', 'Nombre', 'Precio día 1', 'Precio día 2']]

# Crear una columna que compare si el precio cambió entre enero y febrero
df_precios['Resultado'] = df_precios.apply(
    lambda row: 'Sí cambió el precio' if row['Precio día 1'] != row['Precio día 2'] else 'No cambió el precio', axis=1
)

# Mostrar el resultado con las columnas de 'Referencia', 'Nombre', y el resultado de la comparación
print(df_precios[['Referencia', 'Nombre', 'Resultado']])

    Referencia                Nombre            Resultado
0          123             Solenoide  No cambió el precio
1          456        Motoventilador  Sí cambió el precio
2          789                Marcha  Sí cambió el precio
3          321                Bujías  Sí cambió el precio
4          654              Válvulas  Sí cambió el precio
5          987          Alternadores  Sí cambió el precio
6          741      Bobina Encendido  No cambió el precio
7          852                 Faros  No cambió el precio
8          963                Poleas  No cambió el precio
9          357     Motor de arranque  Sí cambió el precio
10         159          Bulbo sensor  Sí cambió el precio
11         486    Manguera corrugada  No cambió el precio
12         624  Cable pasa corriente  Sí cambió el precio
13         684            Carburador  No cambió el precio
14         426        Bomba gasolina  No cambió el precio
15         597                 Bujes  Sí cambió el precio
16         600               Baleros  No cambió el precio
17         951      Torre alternador  Sí cambió el precio
18         753         Volante Motor  No cambió el precio

Multiplicamos por 0.99 nuestros productos que tienen el precio mayor y que la competencia cambió su precio

In [13]:
# Datos de tu empresa: seleccionamos la referencia, nombre, y nuestro precio
df_precios_empresa = df_2[['Referencia', 'Nombre', 'Nuestro Precio']]

# Datos de la competencia: seleccionamos la referencia, precio día 1 y precio día 2
df_precios_competencia = df_3[['Referencia', 'Precio día 1', 'Precio día 2']]

# Unir los DataFrames por 'Referencia'
df_comparativa = pd.merge(df_precios_empresa, df_precios_competencia, on='Referencia')

# Crear una columna para comparar si nuestro precio es mayor que el precio del día 2 de la competencia
df_comparativa['Precio Mayor'] = df_comparativa['Nuestro Precio'] > df_comparativa['Precio día 2']

# Crear una columna para verificar si el precio cambió en la competencia (día 1 a día 2)
df_comparativa['Cambio Precio Competencia'] = df_comparativa['Precio día 1'] != df_comparativa['Precio día 2']

# Aplicar la condición de multiplicar por 0.99 si ambas condiciones son verdaderas
df_comparativa['Nuevo Precio'] = df_comparativa.apply(
    lambda row: row['Nuestro Precio'] * 0.99 if row['Precio Mayor'] and row['Cambio Precio Competencia'] else row['Nuestro Precio'],
    axis=1
)

# Filtrar únicamente las filas donde el "Nuevo Precio" es diferente del "Nuestro Precio" (los que se multiplicaron por 0.99)
df_multiplicados = df_comparativa[df_comparativa['Nuevo Precio'] < df_comparativa['Nuestro Precio']]

# Mostrar solo los productos cuyo precio fue multiplicado por 0.99
print(df_multiplicados[['Referencia', 'Nombre', 'Nuestro Precio', 'Nuevo Precio']])

    Referencia            Nombre  Nuestro Precio  Nuevo Precio
1          456    Motoventilador        2493.750    2468.81250
4          654          Válvulas         223.125     220.89375
5          987      Alternadores        3281.250    3248.43750
10         159      Bulbo sensor          52.500      51.97500
17         951  Torre alternador         472.500     467.77500

SAcar utilidad de los productos con nuevo precio

In [14]:
# Ahora hacemos el merge con el DataFrame 'df' que contiene los costos 
df_merged = pd.merge(df_multiplicados, df[['Referencia', 'Costo de Producto']], on='Referencia')

# Calcular el porcentaje de utilidad con la fórmula (Nuevo Precio - Costo) / Costo * 100
df_merged['Porcentaje de Utilidad'] = ((df_merged['Nuevo Precio'] - df_merged['Costo de Producto']) / df_merged['Costo de Producto']) * 100

# Mostrar el resultado con las columnas 'Referencia', 'Nombre', 'Nuevo Precio', 'Costo de Producto', y 'Porcentaje de Utilidad'
print(df_merged[['Referencia', 'Nombre', 'Nuevo Precio', 'Costo de Producto', 'Porcentaje de Utilidad']])

   Referencia            Nombre  Nuevo Precio  Costo de Producto  \
0         456    Motoventilador    2468.81250             1995.0
1         654          Válvulas     220.89375              178.5
2         987      Alternadores    3248.43750             2625.0
3         159      Bulbo sensor      51.97500               42.0
4         951  Torre alternador     467.77500              378.0

   Porcentaje de Utilidad
0                   23.75
1                   23.75
2                   23.75
3                   23.75
4                   23.75

Buscamos el inventario de los productos seleccionados

In [15]:
# Creamos un Dataframe combinando 'df' y 'df_multiplicados'
df_inventario = pd.merge(df_multiplicados, df[['Referencia', 'Inventario Actual']], on = 'Referencia')

print(df_inventario[['Referencia', 'Nombre', 'Inventario Actual']])

   Referencia            Nombre  Inventario Actual
0         456    Motoventilador              15000
1         654          Válvulas              25000
2         987      Alternadores                 25
3         159      Bulbo sensor               4561
4         951  Torre alternador                500

Quién vende más producto? Online tiene que vender más del 75% de lo que vende Sucursal

In [16]:
df_os = pd.merge(df_multiplicados, df_2[['Referencia', 'Vendidos día 2 Online', 'Vendidos día 2 Sucursal']], on = 'Referencia')

df_os['Quién Vende más?'] = df_os.apply(
    lambda row: 'Sucursal' if row['Vendidos día 2 Sucursal']*1.75 > row ['Vendidos día 2 Online'] else 'Online', axis=1 
    )

print(df_os[['Referencia', 'Nombre', 'Quién Vende más?']])

   Referencia            Nombre Quién Vende más?
0         456    Motoventilador           Online
1         654          Válvulas         Sucursal
2         987      Alternadores           Online
3         159      Bulbo sensor         Sucursal
4         951  Torre alternador           Online


Continuamos con los segundos parámetros:

- Cambió el precio de la competencia de un día para otro?
- Nuestro producto tiene menor o mayor precio que la competencia?
- Sí el precio de la competencia cambió, cambió más del 10%?

In [17]:
# Unir los DataFrames por 'Referencia'
df_comparacion = pd.merge(df_2[['Referencia', 'Nombre', 'Nuestro Precio']], df_3[['Referencia', 'Precio día 1', 'Precio día 2']], on = 'Referencia')

# Crear una columna para comparar si nuestro precio es menor que el precio del día 2 de la competencia
df_comparacion['Nuestro Precio Menor'] = df_comparacion['Nuestro Precio'] < df_comparacion['Precio día 2']

# Crear una columna para verificar si el precio cambió en la competencia (día 1 a día 2)
df_comparacion['Cambio Precio Competencia'] = df_comparacion['Precio día 1'] != df_comparacion['Precio día 2']

# Filtrar únicamente los productos donde:
# - "Nuestro Precio" es menor
# - La competencia cambió sus precios del día 1 al día 2
df_filtrados = df_comparacion[(df_comparacion['Nuestro Precio Menor']) & (df_comparacion['Cambio Precio Competencia'])]

# Calcular el porcentaje de crecimiento del precio de la competencia
df_filtrados['Porcentaje Crecimiento'] = ((df_filtrados['Precio día 2'] - df_filtrados['Precio día 1']) / df_filtrados['Precio día 1']) * 100

# Mostrar el resultado con las columnas 'Referencia', 'Nombre', 'Nuestro Precio', 'Precio día 1', 'Precio día 2', y 'Porcentaje Crecimiento'
df_filtrados[['Referencia', 'Nombre', 'Precio día 1', 'Precio día 2', 'Porcentaje Crecimiento', 'Nuestro Precio']]

C:\Users\dell\AppData\Local\Temp\ipykernel_1148\1974076656.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrados['Porcentaje Crecimiento'] = ((df_filtrados['Precio día 2'] - df_filtrados['Precio día 1']) / df_filtrados['Precio día 1']) * 100

,Referencia,Nombre,Precio día 1,Precio día 2,Porcentaje Crecimiento,Nuestro Precio
2,789,Marcha,1296,1500,15.740741,1443.7500
3,321,Bujías,313,400,27.795527,196.8750
9,357,Motor de arranque,3080,3500,13.636364,261.1875
12,624,Cable pasa corriente,150,200,33.333333,161.4375
15,597,Bujes,307,500,62.866450,393.7500

In [30]:
# Ruta donde se guardará el archivo Excel (reemplazando si ya existe)
file_path = 'Cambio_de_precio.xlsx'

# Crear el archivo Excel nuevo o sobrescribir el existente
with pd.ExcelWriter(file_path, engine='openpyxl', mode='w') as writer:
    # Exportar la columna 'Referencia' de df_1 a la primera hoja (reemplaza si existe)
    df_os[['Referencia']].to_excel(writer, sheet_name='Filtro_1', index=False)
    
    # Exportar la columna 'Nombre' de df_2 a la segunda hoja (reemplaza si existe)
    df_filtrados[['Referencia']].to_excel(writer, sheet_name='Filtro_2', index=False)

print("Archivo Excel creado o actualizado con éxito.")

Archivo Excel creado o actualizado con éxito.